@*@model inspektorat3.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}


<header>
    <span class="avatar"><img src="~/Contents/icon-big-blue.png" alt="" style="background-color:#ffffff;width:122px!important;height:122px!important" /></span>
    <h1>Forgot Password</h1>
    <p>CROWN</p>
</header>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
 Masukkan Email Anda
               <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}