@model IEnumerable<crown.Models.subTheme>

@{
    ViewBag.Title = "Kelola Subtema Kebijakan Pemerintah";
}


<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <i class="header-icon lnr-license icon-gradient bg-plum-plate pe-7s-info"> </i> @ViewBag.Title
            </div>
            <div class="card-body">
                <p>
                    @Html.ActionLink("Tambahkan Subtema Baru", "Create")
                </p>
                <table class="table table-hover table-bordered table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.theme.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.code)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.theme.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.code)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

